*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  /* background-image: url("/cover.jpg"); */
  background: linear-gradient(217deg, rgba(255,0,0,.6), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.6), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.6), rgba(0,0,255,0) 70.71%);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px, solid #646464;
  outline: none;
  background-color: rbga(255, 255, 255, 0.5);
}

.calculator-grid > button:hover {
  background-color: #a9a9a9;
}

.span-two {
  grid-column: span 2;
  color: #f8a202;
  background-color: rgba(68, 50, 255, 0.5);
}

.del {
  /* grid-column: span 2; */
  color: #515a3a;
  background-color: rgba(100, 200, 255, 0.5);
}

.output{
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand{
  color: rgba(255,255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand{
  color: white;
  font-size: 2.5rem;
}